.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav p {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
  background-color: rgba(4, 170, 109, 0.2);
  margin-bottom: 0;
}

.imagenes {
  display: block;
  width: 80%;
  height: 80%;
  margin-right: auto;
  margin-left: auto;
}
body {
  background-image: url("https://i.redd.it/50566ol2j7k91.jpg");
  background-color: rgba(255, 175, 185);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.background1 {
  background-color: rgba(0, 0, 255, 0.5);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 2%;
  margin-right: 2%;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.6);
}
.formulario {
  background-color: rgba(255, 175, 185, 0.15);
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  margin: 10px;
  margin-right: 50%;
  margin-left: 10%;
}
.boton {
  border-radius: 3px;
  background-color: rgb(0, 102, 197);
  color: #fff;
  border: 0px;
  width: 70px;
  height: 28px;
}
#content1 {
  padding-top:40px;
  padding-bottom: 40px;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
#content1 .left {
  padding-left: 40px;
  width: 57%;
  float: left;
}
#content1 .right {
  width: 40%;
  float: right;
  padding-right: 40px;
}
#content2 {
  padding-top:40px;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
#content2 .left {
  padding-left: 40px;
  width: 40%;
  float: left;
}
#content2 .right {
  width: 57%;
  float: right;
  padding-right: 40px;
}
.brain{
  width: 100%;
}
.parrafos{
  text-align: justify;
  text-justify: inter-word;
}